article .galeria {
  width: 100%;
  padding: 5px;
  height: 100%;
  border: 1px solid #eee;
}

article li p {
  margin: 0px;
}

article .direita {
  max-width: 350px;
  height: auto;
  margin-left: 15px;
  float: right;
}

article .esquerda {
  max-width: 350px;
  height: auto;
  margin-right: 15px;
  float: left;
}

article .centro {
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}

.contato {
  float: right;
  position: relative;
  z-index: 10;
  width: 100%;
  margin-top: -113px;
  border-radius: 30px 30px 0px 0px;
}

.especialidade {
  width: 100px;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .especialidade {
    width: 70px;
    padding: 10px;
  }
  .contato {
    float: none;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 30px;
  }
}

.contato .form-topo {
  text-align: center;
  background-color: #00447b;
  background: -webkit-gradient(linear, left top, left bottom, from(#00447b), to(#001a2f));
  background: linear-gradient(180deg, #00447b 0%, #001a2f 100%);
  color: white;
  padding: 15px;
  border-radius: 1em 1em 0 0;
}

.contato .form-topo h4 {
  font-size: 1.5em;
}

.contato .form-topo h3 {
  font-size: 2em;
  font-weight: bold;
}

.contato .formulario {
  background: #e7e7e7;
  padding: 35px;
  border-radius: 0 0 5px 5px;
}

.contato .formulario h2 {
  font-size: 1.75rem;
  line-height: 1;
  color: #E12620;
  text-align: center;
  margin-bottom: 35px;
}

.btn-mpi {
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background: inherit;
  padding: 11px;
  background: #E12620;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #b61d18;
}

.formulario-mpi input[type="text"],
.formulario-mpi select,
.formulario-mpi input[type="tel"],
.formulario-mpi input[type="date"],
.formulario-mpi input[type="password"],
.formulario-mpi input[type="email"],
.formulario-mpi input[type="password"],
.formulario-mpi select,
.formulario-mpi textarea {
  width: 100%;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0;
  border: 1px solid silver;
  padding: 10px;
  border-radius: 4px;
}

.banner-titulo {
  background: url(../img/lp-mpi/banner-quality.jpg) no-repeat center center;
  background-size: cover;
  height: 45vh;
  color: #00447b !important;
}

.preco-mpi {
  font-size: 45px;
  color: #00447b;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.preco-mpi:before {
  content: "R$";
  font-size: 20px;
  color: #00447b;
}

.preco-mpi .mensal {
  font-size: 15px;
  color: #333;
  position: relative;
  font-weight: 600;
  top: -10px;
}

.passo p {
  margin: 0px;
  padding: 0px;
}

.passo .titulo {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #00447b;
  font-weight: bold;
}

.passo .wrap {
  height: 190px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  display: block;
}

.passo .wrap .obs {
  font-weight: bold;
}

.passo .subtitulo {
  font-size: 16px;
  font-weight: normal;
}

.passo .valor {
  font-size: 1em;
  line-height: 1;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 20px;
  color: #00447b;
}

.passo .valor span {
  font-size: 2.8125em;
}

.passo .valor2 {
  float: left;
  font-size: 1em;
  line-height: 1;
  font-weight: normal;
  color: #00447b;
}

.passo .valor2 span {
  font-size: 2.125em;
}

.passo .economize {
  float: left;
  font-size: 0.75em;
  margin-left: 10px;
  background: #00447b;
  color: #fff;
  padding: 1px 8px;
  border-radius: 20px;
  margin-top: 8px;
}

.passo .obs {
  font-size: 0.875em;
}

@media (max-width: 768px) {
  .contato .formulario h2 {
    font-size: 1.5rem;
  }
  .passo .economize {
    display: block;
    margin: 0;
    margin-top: 10px;
  }
  .passo .titulo {
    font-size: 1.5em;
  }
  .passo .valor span {
    font-size: 2.4em;
  }
  .passo .valor2 span {
    font-size: 1.8em;
  }
}

.contato .radio {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 20px;
  width: 49%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  padding-top: 4px;
  margin-top: 10px;
}

.contato .radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.contato .checkround {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-color: #E12620;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.contato .radio input:checked ~ .checkround {
  background-color: transparent;
}

.contato .checkround:after {
  content: "";
  position: absolute;
  display: none;
}

.contato .radio input:checked ~ .checkround:after {
  display: block;
}

.contato .radio .checkround:after {
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #E12620;
}

@media only screen and (max-width: 768px) {
  .banner-titulo {
    height: 35vh;
  }
  .titulo-plano {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .span-economize {
    margin-left: -5em;
    margin-top: 3em;
  }
  .d-block-mobile {
    display: block !important;
  }
}

.banner-titulo h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00447b !important;
}

@media only screen and (max-width: 768px) {
  .contato .fone .titulo {
    font-size: 1.4em;
  }
  .contato .formulario {
    padding: 20px;
  }
}

.coberturas h4 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #397cbc;
}

.coberturas img {
  height: 3em;
  margin-right: 1em;
}

.banner-h1 {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
}

.breadcrumb {
  background: none;
  padding: 0px;
  margin: 0px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 16px;
}

.breadcrumb a {
  color: #000;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #68a1f0;
}

.breadcrumb-item.active {
  color: rgba(0, 0, 0, 0.7);
}

.menu-lateral nav ul li a {
  height: auto;
  padding: 4px 10px;
  border-left: 4px solid #e3e3e3;
  margin: 0 0 5px 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #333 !important;
  width: 100%;
  white-space: normal !important;
}

.menu-lateral nav ul li a:hover {
  border-left: 4px solid #3579a7;
  color: #333;
  background-color: #3579a754;
}

.menu-lateral nav {
  list-style: none;
  max-height: 100vh;
  overflow: auto;
  border-bottom: 1px solid #eee;
}

article h2 {
  line-height: 2rem;
}

article li {
  margin-bottom: 10px;
}

article p,
article li,
article li p {
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  article p,
  article li,
  article li p {
    text-align: left;
  }
  .menu-lateral nav {
    height: 40vh;
  }
}

.gallery img {
  width: 100%;
  padding: 5px;
  height: 100%;
  border: 1px solid #ddd;
}

.related-posting {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.related-posting:hover {
  -webkit-box-shadow: 2px 2px 2px #eee;
          box-shadow: 2px 2px 2px #eee;
  border: 1px solid #e3e3e3;
}

.related-posting img {
  height: 100%;
  width: 100%;
}

.related-posting .card-body {
  padding: 1.25rem 0;
}

.related-posting h2 {
  font-size: 1.5rem;
  color: #00447b;
  text-transform: uppercase !important;
}

a {
  text-decoration: none !important;
}

nav > .nav.nav-tabs {
  border: 0px;
  background: transparent;
  border-radius: 0;
}

nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
  border: none;
  padding: 10px;
  color: #333;
  background: #eee;
  border-radius: 0;
  font-size: 0.9em;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

nav > div a.nav-item.nav-link.active {
  background: #00447b;
  color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.tab-content {
  background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #ddd;
  border-top: 3px solid #00447b;
  border-bottom: 2px solid #00447b;
  padding: 5px 20px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: #00447b;
  color: #fff;
  border-radius: 0;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.tab-pane ul {
  display: block;
  padding: 0px;
}

.tab-pane ul li {
  width: 24% !important;
  font-size: 0.85em;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .tab-pane ul li {
    width: 49% !important;
    font-size: 0.7em;
    padding: 0px;
  }
}

.menu-lateral h2 {
  background-color: #00447b;
  background: -webkit-gradient(linear, left top, left bottom, from(#00447b), to(#001a2f));
  background: linear-gradient(180deg, #00447b 0%, #001a2f 100%);
}

.text-little {
  font-size: 0.8rem;
}
/*# sourceMappingURL=style-mpi.css.map */