$corprincipal: rgb(0, 68, 123);
$dedgrade: linear-gradient( 90deg, $corprincipal 0%, darken($corprincipal, 15) 100%);
$corbtn:#E12620;
@mixin dedgrade($rotate:90deg, $color:$corprincipal) {
    background-color: $color;
    background: linear-gradient( $rotate, $color 0%, darken($color, 15) 100%);
}